:root {
  --background: linear-gradient(135deg, #fbc6ff 20%, #bdfff9 90%);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: whitesmoke;
  font-family: "Gluten", cursive;
  font-weight: 400;
}
.content {
  height: 200vh;
  background-color: #333;
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
  place-items: center;
}
/*navigation styles start here*/

header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999; /*always on top of everything z-index*/
  width: 100%;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  display: none; /*navigation disappears, input bei Html muss vor nav stehen*/
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}
nav a {
  color: grey;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
}
nav a:hover {
  color: rgb(224, 64, 189);
}

.nav-toggle:checked ~ nav {
  display: block;
}
