:root {
  --background: rgb(52, 147, 202);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.content {
  height: 200vh;
  background-color: rgb(210, 232, 245);
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
  place-items: center;
}
.logo {
  color: white;
}
/*navigation styles start here*/

header {
  background: var(--background);
  text-align: center;
  position: fixed;
  padding: 20px;
  z-index: 999; /*always on top of everything z-index*/
  width: 100%;
}
.nav-toggle {
  display: none; /*is there aber ich sehe es nicht und auch wenn auf x clicke öffnet sich das Menü*/
}
.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0; /*bis hier wird das X nach link verschoben*/
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: ""; /*need that!!*/
  position: absolute;
}
.nav-toggle-label span::before {
  bottom: 7px;
}
.nav-toggle-label span::after {
  top: 7px;
}
nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  display: none; /*navigation disappears, input bei Html muss vor nav stehen*/
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
}
nav a:hover {
  color: rgb(224, 77, 18);
}

.nav-toggle:checked ~ nav {
  display: block;
}
